In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('./nifty50.csv')
df[0:2000]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352920 entries, 0 to 352919
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   352920 non-null  object
 1   date    352920 non-null  int64
 2   time    352920 non-null  object
 3   open    352920 non-null  float64
 4   high    352920 non-null  float64
 5   low     352920 non-null  float64
 6   close   352920 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 18.8+ MB

In [14]:
df['open'].describe()

count    352920.000000
mean       7374.515649
std        1070.893139
min        5126.150000
25%        6167.650000
50%        7738.800000
75%        8298.762500
max        9115.400000
Name: open, dtype: float64

In [15]:
df['high'].describe()

count    352920.000000
mean       7376.077510
std        1071.032665
min        5127.250000
25%        6168.900000
50%        7740.150000
75%        8300.900000
max        9119.200000
Name: high, dtype: float64

In [16]:
df1=pd.to_datetime(df['date'],format='%Y%m%d')
df2=pd.DataFrame(list(df1),columns=['date'])
df2.head()

        date
0 2013-04-01
1 2013-04-01
2 2013-04-01
3 2013-04-01
4 2013-04-01

In [ ]:
from datetime import datetime
l1=[]
for x in df['time']:
    d = datetime.strptime(x, "%H:%M")
    l1.append(d.strftime("%I:%M %p"))
    
    
df3=pd.DataFrame(l1,columns=['time']) 
df4=pd.concat([df2,df3],axis=1)